aiofiles==0.6.0
amqp==5.0.6
billiard==3.6.4.0
celery==5.0.5
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
httptools==0.1.1
importlib-metadata==3.10.1
kombu==5.0.2
librabbitmq==2.0.0
multidict==5.1.0
numpy==1.20.2
pandas==1.2.4
prompt-toolkit==3.0.18
pymongo==3.11.3
python-dateutil==2.8.1
pytz==2021.1
sanic==21.3.2
sanic-routing==0.5.2
six==1.15.0
typing-extensions==3.7.4.3
vine==5.0.0
wcwidth==0.2.5
websockets==8.1
zipp==3.4.1
