<?xml version="1.0" encoding="utf-8"?>

<configuration>
        <appSettings>
                <add key="retainSourceEOL" value="false" />
                <add key="maxNumberLength" value="1" />
                <add key="trueValue" value="1" />
                <add key="torusColumns" value="80" />
                <add key="torusRows" value="25" />
        </appSettings>
        <startup>
                <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
        </startup>
</configuration>